svg {
  border: 1px dotted black;
  margin: 2px;
}

h2 {
  text-align: center;
  margin: 2px;
}

.App {
  display: flex;
}
.main {
  flex-basis: 70%;
}

.graph,
.node-info,
.plant-info {
  border: 2px solid black;
  margin: 2px;
}

.plant-info {
  flex-basis: 30%;
  width: 100%;
}

svg {
  border: 1px solid black;
}
